
*{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  ::-webkit-scrollbar{
    display: none
  };
 }

@import "../../lib/scss/BSL.scss";

@mixin small_btn{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba($green,1);
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  color: rgba($gray,1);
  
}

@mixin input_layout($width){
  display: flex;
  width: $width;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($black,.05);
  overflow: hidden;
  border-radius: 10px;


  input{
    background-color: rgba($black,0);
    height: 60px;
    width: 230px;
    font-size: 20px;
    color: rgba($black,1);
    border-radius: 10px;
    border: none;
    padding-left: 22px;
    &::placeholder{
      color: rgba($black,0.3);
    }
    &:focus
    {
      outline: none;
    }
  }
  
  .cancle{
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }
  .error{
    margin-right: 19px;
  }
  .check{
    margin-right: 19px;
  }
}

  

.bg_shadow{

  
    z-index: 99;
    position: fixed;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow:auto;


  .signup_popup{

    margin-top: 120px;
    margin-bottom: 120px;
    
    position: relative;
    margin-inline: auto;


    width: 630px;
    height: 840px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 10px;

  
    
    form{
      display: inline-block;
      margin-top: 32px;
      margin-left: 52px;
      width: 524px;
      height: 770px;
      
      .logo{
        width: 240px;
        height: 120px;
      }
      .email_form{
        margin-top: 25px;
        .email_input_line{
        
          display: flex;
          justify-content: space-between;
          margin-left: 1px;
  
          .email_input{
            @include input_layout(400px);
            input{
              width: 350px;
            }
          }
          .email_input_0{
            @extend .email_input;
          }
          .email_input_1{
            @extend .email_input;
          }
          .email_input_2{
            @extend .email_input;
            background-color: rgba($red,0.05);
            border: solid red 1px;
          }
          .email_input_3{
            @extend .email_input;
          }
          
          .check_btn{
            @include small_btn();
          }
        }
        .email_notice{
          margin-top: 5px;
          margin-left: 6px;
          .email_notice_1{color: rgba($red,1);}
          .email_notice_2{color: rgba($red,1);}
          .email_notice_3{color: rgba($green,1);}
        }

        
      .auth{
        margin-top: 31px;
        .auth_input_line{
          display: flex;
          align-items: flex-end;
          .auth_input{
            @include input_layout(200px);
          } 
          .auth_check_btn{
            @include small_btn();
            margin-left: 20px;
          }
          .resend{
            height: 20px;
            text-decoration : underline;
            margin-left: 18px;
          }
          .timer{
            margin-left: 12px;
            color: rgba($green,1);
          }}
        .auth_notice
        {
          margin-left: 6px;
          .auth_notice_1{color: rgba($green,1);}
          .auth_notice_2{color: rgba($red,1);}
          .auth_notice_3{color: rgba($green,1);}
        }
        
        
      }
      
      }
     
    
      


      .pw_form{
        margin-top: 35px;
        .pw_input{
          @include input_layout(400px);
          margin-top: 19px;
          input{
            width:280px;
          }
          
        }
        
        .pw_input_0{
          @extend .pw_input;
        }
        .pw_input_1{
          @extend .pw_input;
          background-color: rgba($red,0.05);
          border: solid red 1px;
        }
        .pw_input_2{
          @extend .pw_input;
        }
        .pw_input_3{
          @extend .pw_input;
        }
        
        .pw_notice{
          margin-top: 8px;
          margin-left: 6px;
          height: 14px;
          .pw_notice_0{}
          .pw_notice_1{color: rgba($red,1);}
          .pw_notice_2{color: rgba($green,1);}
        }
        .pwcheck_input{
          @include input_layout(400px);
          margin-top: 38px;
          input{
            width:280px;
          }
        }
        .pwcheck_notice{
          margin-top: 5px;
          height: 14px;
          .pwcheck_notice_0{}
          .pwcheck_notice_1{color: rgba($red,1);}
          .pwcheck_notice_2{color: rgba($green,1);}
        }

      }


      
      .nickname_form{
        margin-top: 18px;
        .nick_input_line{
          display: flex;
          justify-content: space-between;
          .nick_input{
            @include input_layout(400px);
          }
          .nick_check_btn{
            @include small_btn();
          }
        }
        .nick_notice{
          margin-top: 5px;
          margin-left: 6px;
          
          .nick_notice_1{color: rgba($red,1); height: 14px;}
          .nick_notice_2{color: rgba($red,1);  height: 14px;}
          .nick_notice_3{color: rgba($green,1);  height: 14px;} 
        }
      }
      .signup_btn{
        @include small_btn();
        width: 523px;
        height: 70px;
        line-height: 70px;
        font-size: 28px;        
        font-weight: 600px;
        margin-top: 17px;
      }
    }
    
  }
}
