@import "../../lib/scss/BSL.scss";

@mixin small_btn{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba($green,1);
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  color: rgba($gray,1);
  
}

@mixin input_layout($width){
  display: flex;
  width: $width;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($black,.05);
  overflow: hidden;
  border-radius: 10px;
  
  
  input{
    background-color: rgba($black,0);
    height: 60px;
    width: 230px;
    font-size: 20px;
    color: rgba($black,1);
    border-radius: 10px;
    border: none;
    margin-left: 22px;
    &::placeholder{
      color: rgba($black,0.3);
    }
    &:focus
    {
      outline: none;
    }
  }
  
  .cancle{
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }}


.bg_shadow{
  
    z-index: 99;
    position: absolute;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow:auto;


  .signup_popup{

    margin-top: 120px;
    margin-bottom: 120px;
    
    position: relative;
    margin-inline: auto;


    width: 630px;
    height: 840px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 10px;

  
    
    form{
      display: inline-block;
      margin-top: 32px;
      margin-left: 52px;
      width: 524px;
      height: 770px;
      
      .logo{
        width: 240px;
        height: 120px;
      }

      .email_input_line{
        display: flex;
        justify-content: space-between;

        .email_input{
          @include input_layout(400px);
        }
        .email_input_0{
          @extend .email_input;
        }
        .email_input_1{
          @extend .email_input;
        }
        .email_input_2{
          @extend .email_input;
          background-color: rgba($red,0.05);
          border: solid red 1px;
        }
        .email_input_3{
          @extend .email_input;
        }
        
        .check_btn{
          @include small_btn();
        }
      }
      .auth{
        .auth_input_line{
          display: flex;
          .auth_input_0{
            @include input_layout(200px);
          } 
          .auth_check_btn{
            @include small_btn();
            margin-left: 20px;
          }
        }
        
      }
      



      .pw_input{
        display: flex;
        width: 380px;
        height: 60px;
        display: flex;
        width: 360px;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($black,.05);
        overflow: hidden;
        border-radius: 10px;
        margin-top: 26px;
        
        input{
          background-color: rgba($black,0);
          height: 60px;
          width: 230px;
          font-size: 20px;
          color: rgba($black,1);
          border-radius: 10px;
          border: none;
          margin-left: 22px;
          &::placeholder{
            color: rgba($black,0.3);
          }
          &:focus
          {
            outline: none;
          }
        }
        
        .cancle{
          width: 24px;
          height: 24px;
          margin-right: 24px;
        }
        .eye{
          width: 30px;
          height: 30px;
          margin-right: 18px;
        }
        .eye_off{
          width: 24.5px;
          height: 24.5px;
          margin-right: 18px;
        }
      }
      .pw_input_0{
        @extend .pw_input;
      }
      .pw_input_1{
        @extend .pw_input;
        background-color: rgba($red,0.05);
        border: solid red 1px;
      }
      .pw_input_2{
        @extend .pw_input;
      }
      .pw_input_3{
        @extend .email_input;
      }

      .remember{
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
        img{
          margin-right: 6px;
        }
        
        
      }

      .submit_input{
        width: 360px;
        height: 60px;
        border-radius: 10px;
        outline: none;
        border: none;
        color: rgba($gray,1);
        background-color: rgba($green,1);
        margin-top: 23px;
      }
      
      
    }
    .linkto{
      margin-left: 30px;
      margin-top: 31px;
      .findPW{
        display: flex;
        img{
          margin-right: 6px;
        }
      }
      .signup{
        margin-top: 33px;
        display: flex;
        img{
          margin-right: 6px;
        }
      }
    }
  }
}
