

@import "../../lib/scss/BSL.scss";
*{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
 }


@mixin small_btn($width){
  width: $width;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: rgba($green,1);
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  color: rgba($gray,1);
  
}

@mixin input_layout($width){
  display: flex;
  width: $width;
  height:60px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($black,.05);
  overflow: hidden;
  border-radius: 10px;
  margin-top: 0px;

  input{
    background-color: rgba($black,0);
    height: 60px;
    width: 230px;
    font-size: 20px;
    color: rgba($black,1);
    border-radius: 10px;
    border: none;
    margin-left: 22px;
    &::placeholder{
      color: rgba($black,0.3);
    }
    &:focus
    {
      outline: none;
    }
  }
}



.bg_shadow{
  
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
  .pwchange_popup{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 420px;
    height: 630px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;

    .logo{
      width: 240px;
      height: 120px;
      margin-top: 19px;
    }
    
    h2{
      margin-top: 9px;
    }
    
    form{
      display: inline-block;
      .pw_form{
        .pw_line{
          margin-top: 16px;
          .pw_input{
            @include input_layout(360px);
          }
          .check{
            margin-right: 15px;
          }
          .error{
            margin-right: 15px;
          }
        }
        .notice{
          margin-top: 8px;
          margin-left: 1px;
          height: 14px;
          font-family: Pretendard;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;

          color: rgba($red,1);
        }}
      .pwcheck_form{
        .pwcheck_line{
          margin-top: 18px;
          .pwcheck_input{
            @include input_layout(360px);
          }
          .check{
            margin-right: 15px;
          }
          .error{
            margin-right: 15px;
          }
        }
        .notice{
          margin-top: 8px;
          margin-left: 1px;
          font-family: Pretendard;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
          color: rgba($green,1)
        }
      }
      .explain{
        margin-top: 17px;
        margin-left: 1px;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;

      }

      .check_btn{
        margin-top: 34px;
        @include small_btn(360px);
        font-family: Pretendard;
        font-size: 24px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: center;
      }
      
      

    }
  }
}