@import "../../../../lib/scss/BSL.scss";
.header {
  height: 120px;
  border-bottom: 2px solid rgba($black, 0.1);
  display: flex;
  align-items: center;

  .logo {
    position: flex;

    margin-left: 50px;

    img {
      width: 175px;
      height: 84px;

    }

    &:hover {
      cursor: pointer; // 마우스를 올렸을 때 커서 설정
    }

    &:active {
      cursor: grabbing; // 클릭할 때 커서 설정
    }
  }

  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 587px;
    height: 48px;
    margin-left: 75px;
    border-radius: 30px;
    border: 2px solid $green;
    padding: 0 10px;

    .search-button {
      margin-left: 10px;
      img {
        width: 20px;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        cursor: grabbing;
      }
    }

    input {
      flex: 1;
      height: 90%;
      border: none;
      border-radius: 30px;
      outline: none;
      padding-left: 10px;
      font-size: 16px;
    }

    .search-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      color: $gray;
    }
  }

  .buttons {
    display: flex;
    margin-left: auto; // 오른쪽 정렬

    margin-right: 50px;
    gap: 50px; // 버튼 사이의 간격


    .league-btn,
    .write-btn,
    .login-btn,
    .signup-btn {
      display: flex;
      align-items: center;
      font-weight: bold;

      margin: 0;
      padding: 0;
      background-color: white;

      &:hover {
        //color: $green;

        cursor: pointer;
      }

      &:active {

        //color: darken($green, 10%); // 클릭 시 어둡게
        cursor: grabbing;
      }
    }

    .league-btn {
      //border: 2px dashed green;
      display: flex;
      font-size: 17px;
      border: none;
      .league-icon {
        //border: 2px dashed green;
        margin: 0;
        padding: 0;
        margin-right: 5px;
        width: 25px;
      }
    }

    .write-btn {
      //border: 2px dashed green;
      font-size: 17px;
      border: none;

      .write-icon {
        margin: 0;
        padding: 0;
        margin-right: 5px;
        width: 25px;
      }
    }

    .login-btn {
      margin-left: 10px;
      font-size: 17px;
      border: none;
      font-weight: normal;
    }

    .signup-btn {
      margin-left: 20px;
      font-size: 15px;
      border: 2px solid $black;
      border-radius: 5px;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;


      &:hover {
        background-color: $green;
        color: white;
        border-color: $green;
        cursor: pointer;
      }

      &:active {
        background-color: darken($green, 10%); // 클릭 시 어둡게
        border-color: darken($green, 10%);
        cursor: grabbing;
      }
    }
  }
}
