@import "../../lib/scss/BSL.scss";

.main-content {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;

  .left,
  .right {
    width: 300px;
    height: 860px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; // 가로 중앙 정렬
  }

  .center {
    width: 100%;
    display: felx;
    flex-direction: column;
  }

  .contents {
    padding-top: 25px;
  }

  .buttons {
    display: flex;
    gap: 20px;
    padding-bottom: 25px;
  }

  .sentiment-btn {
    width: 120px;
    height: 50px;

    color: rgba($black, 0.7);
    background-color: white;
    border: 1.5px solid rgba(#343434, 0.7);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      border: 1.5px solid rgba($green, 0.7);
      color: $green;
      cursor: pointer;
    }
  }

  .follow-btn {
    width: 120px;
    height: 50px;

    color: rgba($black, 0.7);
    background-color: white;
    border: 1.5px solid rgba(#343434, 0.7);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      border: 1.5px solid rgba($green, 0.7);
      color: $green;
      cursor: grabbing;
    }
    cursor: grabbing;
  }

  .sentiment-btn.active {
    border: none;
    background-color: $green;
    color: white;
  }

  .follow-btn.active {
    border: none;
    background-color: $green;
    color: white;
  }
}
