.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-profile {
  display: flex;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative; 
  flex-direction: row; 

  .img-container {
    margin-right: 20px;
    flex-direction: row; 
    justify-content: start;
  }
  .round-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

      .name {
        margin: 10;
        font-size: 2rem; // 폰트 사이즈 증가
        color: #343434;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .email {
        font-size: 0.95rem;
        color: rgba(52, 52, 52, 0.50);
      }
      .edit-button {
        padding: 5px 10px;
        margin-top: 10px;
        background: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    
    .user-stats {
      display: flex;
      justify-content: space-between;
      background: white;
      padding: 20px;
      border-radius: 10px;
      width: 100%;
      max-width: 800px;
      margin-bottom: 20px;
    
      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        
        .number {
          font-size: 2rem;
          font-weight: bold;
        }
        
        .label {
          color: #666;
        }
      }
    }
    
    .user-posts {
      width: 100%;
      margin-top: 15px;
    }
      
      .post {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
      }

        .title {
          font-size: 1.1rem;
          color: #333;
        }
        
        .rating {
          color: #FFD700; // 별점
        } 

        .pagination {
          display: flex;
        }

        