@import "../../../../lib/scss/BSL.scss";

body {
  background: #f8f8f8;
}
* {
  //border: 1px solid greenyellow;
}

.mypage-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 3.45vw;
  padding-bottom: 3.45vw;
  margin-top: 8.3vw;
}

.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: 67.4vw;
  margin: 1.5vw auto;
  padding-top: 3.5vw;
  border: 0.05vw solid $black;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*
.left,
.right {
  width: 300px;
  height: 860px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/

.user-stats {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;

  .stat,
  like-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .number {
    font-size: 2rem;
    font-weight: bold;
  }

  .label {
    color: #666;
  }
}

.user-posts {
  width: 100%;
  margin-top: 15px;
}

.post {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.title {
  font-size: 1.1rem;
  color: #333;
}

.rating {
  color: #ffd700; // 별점
}

.follow-button {
  display: flex;
  width: 818px;
  font-size: 22px;
  justify-content: center;
  //팔로우 버튼 테두리 없애기 및 버튼 ui 수정
  border: none;
  padding: 10px;
  color: #5fcb75;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  &.following {
    background-color: #eee;
    color: black;
  }

  &.not-following {
    background-color: #5fcb75;
    color: #eee;
  }
}
