@import "../../../../lib/scss/BSL.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 10px;
  margin: 0;
  padding: 20px;
  width: 400px;
  height: 630px;
  background: white;

  .modal-info {
    //border: 2px dashed red;
    height: 100%;
    width: 100%;

    .close-container {
      display: flex;
      justify-content: flex-end;

      .close-button {
        display: flex;
        justify-content: center;
        background: none;
        width: 30px;
        cursor: pointer;
        border: none;
      }
    }

    .modal-title {
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      //border: 2px dashed blue;
    }

    .modal-tier {
      //border: 2px dashed red;

      .tier-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        //border: 2px dashed orange;
        margin: 20px;
        margin-top: 25px;
        border-top: 2px solid $green;
        padding-top: 20px;
        .tier-icons {
          width: 25px;
        }

        .tier-rookie,
        .tier-silver,
        .tier-gold,
        .tier-dia,
        .tier-master,
        .tier-grandmaster {
          //border: 2px dashed red;
          height: 65px;
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          align-items: center;
          padding-left: 15px;

          .tier-detail {
            //border: 2px dashed pink;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            width: 100%;
            margin-left: 40px;
            font-size: 14px;
            font-weight: bold;
          }
        }

        .rookie,
        .silver,
        .gold,
        .dia,
        .master,
        .grandmaster {
          //border: 3px dashed pink;
          border-right: 2px solid $green;
          height: 40px;
          width: 300px;
          display: flex;
          flex-direction: row;

          p {
            font-weight: bold;
            display: flex;
            align-items: center;
          }

          img {
            //border: 2px dashed red;
            padding: 0;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
