@import "../../../../lib/scss/BSL.scss";

.home-follow-container {
  border-top: 1px solid rgba($black, 0.2);
  display: flex;
  align-self: flex-start;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  .home-user-list {
    width: 90%;
    height: 150px;
    margin: 0;
    padding: 0;
    list-style: none;

    .follower-card {
      display: flex;
      align-items: center;
      //border: 2px dashed red;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      padding-top: 20px;
      padding-bottom: 20px;

      .follower-image {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }

      .follower-info {
        flex-grow: 1;
        margin-left: 15px;
      }

      .follower-name {
        margin: 0;
        font-size: 1.2em;
      }

      .follower-bio {
        margin: 5px 0;
        color: #666;
      }

      .follower-status {
        padding: 5px 10px;
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
