@import "../../lib/scss/BSL.scss";

.results-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //border: 2px dashed green;
  width: 100%;

  .results-container {
    //border: 2px dashed red;
    margin-top: 0;
    width: 100%;

    .results-title {
      display: flex;
      flex-direction: row;

      .results {
        //border: 2px solid;
        margin: 0;
        margin-bottom: 20px;
        font-size: 22px;
      }

      .sort-btn {
        font-size: 17px;
        border: none;
        background-color: white;
        margin-right: 0;
        margin-left: auto;
        display: flex;
        align-items: center;
        cursor: pointer;

        .sort-icon {
          border: none;
          margin: 0;
          padding: 0;
          margin-right: 5px;
          width: 20px;
        }
      }
    }
  }
}
