@import "../../../../lib/scss/BSL.scss";

.related-nickname-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 30px;
  //border: 2px dashed red;

  .related-nickname-list {
    //border: 2px dashed red;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;

    .related-follower-card {
      display: flex;
      align-items: center;
      //border: 2px dashed red;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($black, 0.2);
      }

      .related-follower-image {
        border: 1px solid $black;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
      }

      .related-follower-info {
        flex-grow: 1;
        margin-left: 15px;
      }

      .follower-status {
        font-size: 15px;
        font-weight: normal;

        &.followed {
          // followed 상태의 스타일
          background-color: rgba($black, 0.5);
          color: white;
        }

        &.not-followed {
          // not-followed 상태의 스타일
          background-color: $green;
          color: white;
        }

        &.null {
          // null 상태의 스타일
          background-color: rgba($black, 0.5);
          color: white;
          cursor: not-allowed; // 클릭이 불가능한 상태를 나타내기 위해 커서를 변경
          pointer-events: none; // 클릭 이벤트를 비활성화
        }
      }

      .related-follower-name {
        margin: 0;
        font-size: 1.2em;
      }
    }
  }
}
