@import "../../../../lib/scss/BSL.scss";

.related-nickname-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 30px;
  //border: 2px dashed red;

  .related-nickname-list {
    //border: 2px dashed red;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;

    .related-follower-card {
      display: flex;
      align-items: center;
      //border: 2px dashed red;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($black, 0.2);
      }

      .related-follower-image {
        border: 1px solid $black;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
      }

      .related-follower-info {
        flex-grow: 1;
        margin-left: 15px;
      }

      .related-follower-name {
        margin: 0;
        font-size: 1.2em;
      }
    }
  }
}
