@import "../../lib/scss/BSL.scss";

.nickname-results-contents {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  //border: 2px dashed green;
  width: 100%;

  .nickname-results-container {
    //border: 2px dashed red;
    margin-top: 0;
    width: 100%;

    .nickname-results {
      //border: 2px solid;
      margin: 0;
      margin-bottom: 20px;
      font-size: 22px;
      display: flex;
      gap: 20px;
    }
  }
}
