// StarRating.scss
@import "../../../../lib/scss/BSL.scss";

.star-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 15px;

  .rating-set {
    display: flex;
    margin: 0;
    margin-left: 10px;
    margin-right: 5px;

    .star_icon {
      svg {
        width: 30px;
        height: 30px;
        fill: rgba($black, 0.3);
        stroke: $green;
        stroke-width: 0;

        use {
          fill: $green;
        }
      }

      & + .star_icon {
        margin-left: 5px;
      }
    }
  }
}
