.title-container{
    .sort{
        color: #5FCB75;
    }
    .book{
        color: lightgray;
        display: inline;
    }
    .author{
        color: lightgray;
        display: inline;
    }

}
.user{
    .userimg{
        position: relative;
    }
    .info{
        display: inline;
    }
    .star{
        color: #5FCB75;
        display: inline;
    }
}