@import "../../lib/scss/BSL.scss";

.bg_shadow{
  
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);

  .login_popup{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 420px;
    height: 630px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;

    .logo{
      width: 240px;
      height: 120px;
      margin-top: 19px;
    }
    
    h2{
      margin-top: 9px;
    }
    
    form{
      display: inline-block;
      
      .email_input{
        display: flex;
        width: 360px;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($black,.05);
        overflow: hidden;
        border-radius: 10px;
        margin-top: 17px;
        
        
        input{
          background-color: rgba($black,0);
          height: 60px;
          width: 230px;
          font-size: 20px;
          color: rgba($black,1);
          border-radius: 10px;
          border: none;
          margin-left: 22px;
          &::placeholder{
            color: rgba($black,0.3);
          }
          &:focus
          {
            outline: none;
          }
        }
        
        .cancle{
          width: 24px;
          height: 24px;
          margin-right: 24px;
        }

      }
      .email_input_0{
        @extend .email_input;
      }
      .email_input_1{
        @extend .email_input;
      }
      .email_input_2{
        @extend .email_input;
        background-color: rgba($red,0.05);
        border: solid red 1px;
      }
      .email_input_3{
        @extend .email_input;
      }


      .pw_input{
        display: flex;
        width: 380px;
        height: 60px;
        display: flex;
        width: 360px;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($black,.05);
        overflow: hidden;
        border-radius: 10px;
        margin-top: 26px;
        
        input{
          background-color: rgba($black,0);
          height: 60px;
          width: 230px;
          font-size: 20px;
          color: rgba($black,1);
          border-radius: 10px;
          border: none;
          margin-left: 22px;
          &::placeholder{
            color: rgba($black,0.3);
          }
          &:focus
          {
            outline: none;
          }
        }
        
        .cancle{
          width: 24px;
          height: 24px;
          margin-right: 24px;
        }
        .eye{
          width: 30px;
          height: 30px;
          margin-right: 18px;
        }
        .eye_off{
          width: 24.5px;
          height: 24.5px;
          margin-right: 18px;
        }
      }
      .pw_input_0{
        @extend .pw_input;
      }
      .pw_input_1{
        @extend .pw_input;
        background-color: rgba($red,0.05);
        border: solid red 1px;
      }
      .pw_input_2{
        @extend .pw_input;
      }
      .pw_input_3{
        @extend .email_input;
      }

      .remember{
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
        img{
          margin-right: 6px;
        }
        
        
      }

      .submit_input{
        width: 360px;
        height: 60px;
        border-radius: 10px;
        outline: none;
        border: none;
        color: rgba($gray,1);
        background-color: rgba($green,1);
        margin-top: 23px;
      }
      
      
    }
    .linkto{
      margin-left: 30px;
      margin-top: 31px;
      .findPW{
        display: flex;
        img{
          margin-right: 6px;
        }
      }
      .signup{
        margin-top: 33px;
        display: flex;
        img{
          margin-right: 6px;
        }
      }
    }
  }
}
