@import "../../../lib/scss/BSL.scss";

.related-book-results {
  //border: 2px dashed red;
  border-top: 1px solid rgba($black, 0.2);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  padding-top: 30px;

  .search-result {
    flex: 0 0 calc(33.33% - 20px); // Added this line
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 2px dashed orange;
    flex-grow: 1;
    margin: 0;
    margin-bottom: 60px;

    .book-image {
      //border: 2px dashed orange;
      width: 300px;
      height: 400px;
      object-fit: fill;
    }

    .none-img-detail-info {
      //border: 2px dashed orange;
      width: 100%;

      h3 {
        //border: 2px dashed green;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
      }

      .more-book-link {
        text-decoration: none;
        color: $black;
      }

      .publish-info {
        p {
          //border: 2px dashed red;
          margin: 0;
          margin-bottom: 10px;
          font-size: 13px;
          font-weight: bold;
          color: rgba($black, 0.7);
        }
      }

      .vote-info {
        //border: 2px dashed yellowgreen;
        display: flex;
        flex-direction: row;

        p {
          //border: 2px dashed yellowgreen;
          margin: 0;
          font-size: 16px;
          color: rgba($black, 0.7);
        }

        .vote-avg {
          color: $green;
          font-weight: bold;
        }

        .vote-num {
          font-size: 13px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
