//scss예시입니다.

//아래의 코드를 붙혀넣으면
//색상등의 정보가 담겨있는 라이브러리 사용가능합니다.
@import "../../lib/scss/BSL.scss";


//코드는 html 적듯이 적으면 됩니다.
// .compage h {} 이렇게 안해도 됨
.comPage1{
  h{
    font-size: 100px;
    color: rgba($black, .7);
  }

  .specialBtn{
    width: 200px;
    height: 150px;
        
    &:hover{//specialBtn:hover 와 같은 의미
      width: 300px;
      height: 200px;
    }
  }
}