@import "../../../../lib/scss/BSL.scss";

.search-container {
  border-top: 1px solid rgba($black, 0.2);
  display: flex;
  align-self: flex-start;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  .search-result {
    display: flex;
    margin: 10px;
    //border: 2px dashed red;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($black, 0.2);

    .info {
      //border: 2px dashed blue;
      flex-grow: 1;
      margin-left: 50px;
      display: flex;

      img {
        //border: 1px solid $black; //기본 책표지 이미지에 테두리 삭제 요청
        //height: 100%;
        width: 100px;
        margin-right: 10px;
        object-fit: cover;

        &:hover {
          cursor: pointer;
        }

        &:active {
          cursor: grabbing;
        }
      }

      .none-img {
        margin-left: 10px;

        .detail-info {
          //border: 2px dashed pink;
          margin-bottom: 30px;

          h3 {
            padding-top: 10px;
            font-weight: bold;
            font-size: 22px;
            margin: 0;
          }

          p {
            color: rgba($black, 0.5);
            font-size: 13px;
            font-weight: bold;
          }

          strong {
            font-size: 18px;
          }

          .book-link {
            color: $black;
            text-decoration: none;

            &:hover {
              cursor: pointer;
            }

            &:active {
              cursor: grabbing;
            }
          }
        }

        .additional-info {
          //border: 2px dashed peachpuff;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 10px;

          p {
            margin: 0;
            font-size: 15px;
            white-space: nowrap;
          }

          .nickname {
            color: $black;
            font-weight: bold;
            width: 180px;
            //border: 2px dashed green;
            margin-right: 20px;
          }

          .tier {
            display: flex;
            color: $black;
            font-weight: bold;
            //border: 2px dashed green;
            margin-right: 20px;

            .tier-icon {
              object-fit: fill;
              width: 12px;
              margin-left: 4px;
            }
          }

          .likes {
            display: flex;
            font-weight: normal;
            align-items: center;
            //border: 2px dashed green;
            margin-right: 20px;

            .like-icon {
              margin: 0;
              height: 18px;
              width: auto;
              border: none;
              margin-right: 2px;
            }

            p {
              margin: 0;
              color: $red;
            }
          }

          .comments {
            display: flex;
            align-items: center;
            font-weight: normal;
            //border: 2px dashed green;
            margin-right: 20px;

            .comment-icon {
              margin: 0;
              height: 17px;
              width: auto;
              border: none;
              margin-right: 2px;
              //border: 2px dashed green;
            }

            p {
              margin: 0;
              color: $blue;
            }
          }

          .bookmarks {
            display: flex;
            align-items: center;
            font-weight: normal;
            //border: 2px dashed green;
            margin-right: 20px;

            .bookmark-icon {
              margin: 0;
              height: 20px;
              width: auto;
              border: none;
              margin-right: 2px;
            }

            p {
              margin: 0;
              color: $yellow;
            }
          }

          p.datetime {
            color: rgba($black, 0.5);
            font-weight: normal;
          }
        }
      }
    }

    .rating-info {
      display: flex;
      border: 2px solid $green;
      border-radius: 5px;
      padding: 5px;
      align-self: flex-start;
      margin-top: 10px;
      margin-right: 50px;

      .star-icon {
        margin: 0;
        border: 0;
        height: auto;
        width: auto;
        padding: 0;
      }

      p {
        margin: 0;
        margin-left: 5px;
        font-weight: bold;
        font-size: 17px;
        color: $green;
      }
    }
  }
}

.pagination-container {
  .pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    margin-right: 10px;

    button {
      background-color: white;
      border: none;
      color: #565656;
      border-radius: 5px;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 15px;
      //font-weight: bold;

      &.active {
        background-color: $green;
        color: white;
        cursor: grabbing;
      }
    }
  }
}
