//scss예시입니다.
* {
    //border: 1px solid greenyellow; 
}

//아래의 코드를 붙혀넣으면
//색상등의 정보가 담겨있는 라이브러리 사용가능합니다.
@import "../../lib/scss/BSL.scss";


//코드는 html 적듯이 적으면 됩니다.
// .compage h {} 이렇게 안해도 됨
.comPage1{
  h{
    font-size: 100px;
    color: rgba($black, .7);
  }
}


/* Header.scss */

.header-container {
    background-color: white;
    color: #fff;
    display: flex;
    justify-content: space-between; // 수정: 로고와 내비게이션 링크 사이의 공간을 양쪽으로 분배
    align-items: center; // 추가: 세로 중앙 정렬
    margin-bottom: 45px;
    .logo {
      padding-left: 150px;
    }
    .write-btn {
        width: 80px;
        height: 30px;
        border: none;
        border-radius: 20px;
        margin-right: 300px;
        background-color: #5FCB75;
        color: white;
        cursor: pointer;
    }
}



.write{
    .title{
        width: 750px;
        height: 50px;
        radius: 5px;
        //border: none;
        margin-left: 361px;
        background-color: #F8F8F8;
        margin-bottom: 5px;
    }
    .search{
        width: 550px;
        height: 40px;
        radius: 5px;
        //border: none;
        margin-left: 361px;
        background-color: #F8F8F8;
    }
    .RatingContainer{
        display:inline;
        .star{
            display: inline;
        }
        .PIndex{
            display: inline;
        }
    }
    .input_box{
        width: 750px;
        height: 350px;
        radius: 5px;
        border: none;
        margin-left: 361px;
    }
}